<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Calendar</title>
  
  <link rel="stylesheet" href="css/style.css">
  <script src="https://kit.fontawesome.com/f1693f3bfe.js" crossorigin="anonymous"></script>
</head>
<body>
  <div id="calendar">
    <table>
      <thead>
        <tr>
          <th id="prev" @click="getPrevCalendar" :class="{ disabled: prevDisabled }" rowspan="2">&laquo;</th>
          <th id="title" colspan="7">{{ title }}</th>
          <th id="next" @click="getNextCalendar" :class="{ disabled: nextDisabled }" rowspan="2">&raquo;</th>
        </tr>
        <tr>
          <template  v-for="date in dates">
            <th>
              <span class="date">{{ date.dateNumber }}</span>
              <span class="day">{{ date.day }}</span>
            </th>
          </template>
        </tr>
      </thead>
      <tbody>
        <template v-for="time in times">
          <tr>
            <td class="time">{{ time.hour }}:{{ String(time.min).padStart(2, '0') }}</td>
            <template v-for="date in dates">
              <td>
                <input type="checkbox" id="reserve">
                <label for="reserve" v-if="date.status[time.key]" class="disabled" @click="reserve" :data-reservetime="`${time.hour}:${String(time.min).padStart(2, '0')}`" :data-year="date.year" :data-month="date.month" :data-datenumber="date.dateNumber" :data-daynumber="date.dayNumber" :data-timekey="time.key">×</label>
                <label for="reserve" v-else @click="reserve" :data-reservetime="`${time.hour}:${String(time.min).padStart(2, '0')}`" :data-year="date.year" :data-month="date.month" :data-datenumber="date.dateNumber" :data-daynumber="date.dayNumber" :data-timekey="time.key">◎</label>
              </td> 
            </template>
            <td class="time">{{ time.hour }}:{{ String(time.min).padStart(2, '0') }}</td>
          </tr>
        </template>
      </tbody>
    </table>
    <div class="confirm-wrapper" v-show="reserveAction">
      <div class="confirm
      ">
        <p class="close" @click="cancel"><i class="fa-solid fa-circle-xmark"></i></p>
        <p class="text">ご希望の日時は{{ reserveData.reserveYear }}年{{ reserveData.reserveMonth }}月{{ reserveData.reserveDate }}日{{ reserveData.reserveTime }}でよろしいですか？</p>
        <button type="submit" @click="getReserve">予約する</button>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="dist/date.js"></script>
</body>
</html>